@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  li {
    @apply box-border
  }
  th {
    @apply font-bold !important
  }
}

@layer components{
    .navitem {
      @apply text-xl px-2
    }
    .navitem.selected {
      @apply border-b-4 border-blue-600 transition duration-300 font-bold
    }
    .modal {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[400px] shadow-2xl border-2 p-3
    }
}

.enterAnimation {
  animation: swipe 0.5s ease-in-out;
}

.exitAnimation {
  animation: swipeRight .5s ease-in-out ;
}
@keyframes swipe {
  0% {
    height: 0px;
    opacity:0;
    background-color: green;
  }
  100% {
    height : 73px;
    opacity: 1;
  }
}

@keyframes swipeRight {
  0% {
    height: 73px;
    opacity:1;
    background-color: red;
  }
  100% {
    height: 0px;
    opacity: 0;
    background-color: white;
    padding: 0px;
    border: 0px;
  }
}